doctype html
html
    head
        script(type="text/javascript",src="/build/util.js")
        script(type="text/javascript",src="/build/bundle.js")
        | <script>window.config=!{config};window.arrayConfig=!{b};</script>

body
    div(ui-view)

